devtools
ruff
pint
pytest
pytest-cov
numpy==1.26.4
pandas
IPython
mypy
tabulate
python-docx
jinja2
seaborn
sphinx
nbsphinx
sphinx_book_theme
sphinx_design
sphinx-copybutton
pre-commit
black
python-docx
matplotlib
openpyxl
devtools
types-tabulate
